.card-container {
  background-color: #010314;
  display: flex;
  flex-direction: column;

  gap: 2rem;
  /* color: #010314; */
  width: 100%;
  max-width: 540px;
  border-radius: 0.8rem;
  border-color: #56448c81;
  border-style: solid;
  border-width: 0.05rem;

  box-shadow: 0px 0px 4rem 0.6rem rgb(101, 63, 215, 0.05);
  position: relative;
  padding: 3rem 3rem 1rem 3rem;
  transition: 750ms;
  @media screen and (max-device-width: 1600px) {
    max-width: 80%;
    background-color: white;
  }
}

.card-container:hover {
  box-shadow: 0px 0px 4rem 0.6rem rgb(101, 63, 215, 0.2);
}

.card-lists-section {
  margin-left: 10vw;
  margin-right: 10vw;
}

.cards-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  @media (max-width: 540px) {
    max-width: 100%;
    background-color: red;
    /* background-color: red; */
  }
}

.card-title {
  font-size: 1.4rem;
  font-style: bold;
  font-family: monospace;
  font-weight: bold;
  position: relative;
  z-index: 5;
  max-width: 80%;
  margin-right: auto;
  @media (max-width: 540px) {
    font-size: 1rem;
    max-width: 75%;
  }
}

.gradient-background-container {
  display: flex;
  align-items: center;
  justify-content: left;
  align-content: center;
  position: relative;
  font-family: monospace;
  font-size: 1.2rem;

  /* display: none; */
}

.gradient-background {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(69, 93, 182) 0%,
    rgb(101, 63, 215) 100%
  );
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 100vw;
}

.bet-type-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  /* line-height: 10px; */
  /* height: 10px; */
  /* overflow: hidden; */
  /* padding-bottom: 4px; */
}

.card-info-text-small {
  font-size: 1rem;
  font-weight: lighter;
  font-family: monospace;
  position: relative;
}
.card-info-text {
  font-size: 1.2rem;
  font-weight: lighter;
  font-family: monospace;
  position: relative;
}

.body-style {
  background-color: #010314;
}

.heart-svg {
  stroke: #5c4d8b81;
  stroke-width: 0.08rem;
  width: 5vw;
  max-width: 3rem;
  transition-duration: 300ms;
  filter: drop-shadow(0px 0px 5px rgb(101, 63, 215, 0.15));
  cursor: pointer;
  position: absolute;
  right: 3rem;
  top: 3rem;

  /* right: 2rem;
  top: 2rem; */
}

.heart-svg:hover {
  fill: rgba(53, 26, 110, 0.516);
  filter: drop-shadow(0px 0px 15px rgb(101, 63, 215));
}

.heart-svg.is-favorite {
  fill: white;
}

.outlier-container {
  font-size: 1.4rem;
  font-style: bold;
  font-family: monospace;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border-radius: 0.4rem;
  border-color: #56448c81;
  border-style: solid;
  border-width: 0.05rem;
  box-shadow: 0px 0px 4rem 0.6rem rgb(101, 63, 215, 0.05);
  padding: 1.5rem 1rem 1.5rem 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: -1rem;
  cursor: pointer;
  transition-duration: 300ms;
  @media (max-width: 540px) {
    font-size: 1rem;
    /* background-color: red; */
  }
}

.outlier-container:hover {
  background-color: rgba(53, 26, 110, 0.516);
  box-shadow: 0px 0px 4rem 0.6rem rgb(101, 63, 215, 0.15);

  border-color: rgba(255, 255, 255, 0.15);
}

h1 {
  line-height: 1;
  margin: 0;
  padding: 0;
}
