.login-outer-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-inner-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputs-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 0.5rem;
}

.login-buttons-container {
  display: flex;
  gap: 0.5rem;
  justify-content: space-evenly;
  width: auto;
}

.input-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.login-button {
  background-color: transparent;
  font-family: monospace;
  color: white;
  padding: 1rem;
  border-radius: 0.2rem;
  border-color: #56448c81;
  border-style: solid;
  border-width: 0.05rem;
  box-shadow: 0px 0px 4rem 0.6rem rgb(101, 63, 215, 0.1);
  cursor: pointer;
  transition-duration: 300ms;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
}

.login-buttons-outer-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login-button:hover {
  background-color: rgba(53, 26, 110, 0.516);
  box-shadow: 0px 0px 4rem 0.6rem rgb(101, 63, 215, 0.2);

  border-color: rgba(255, 255, 255, 0.15);
}

.login-button:active {
  background-color: white;
  color: rgba(53, 26, 110, 0.516);
}
